body{
    background:#121212;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.player{
    background:#1e1e1e;
    padding:20px;
    width:320px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    text-align:center;
}

h2{
    margin:5px 0;
    font-size:20px;
}

p{
    margin:0;
    font-size:14px;
    color:#bbb;
}

.controls button{
    margin:10px 8px;
    padding:10px 15px;
    border:none;
    border-radius:6px;
    background:#333;
    color:white;
    cursor:pointer;
}

.controls button:hover{
    background:#555;
}

.progress-container{
    background:#333;
    height:6px;
    width:100%;
    border-radius:5px;
    margin:15px 0;
    cursor:pointer;
}

.progress{
    background:#1db954;
    height:100%;
    width:0%;
    border-radius:5px;
}

.time{
    display:flex;
    justify-content:space-between;
    font-size:12px;
    color:#ccc;
}

.volume{
    margin-top:10px;
}

ul{
    list-style:none;
    padding:0;
    margin-top:15px;
    text-align:left;
    max-height:120px;
    overflow-y:auto;
}

li{
    padding:6px;
    cursor:pointer;
    border-bottom:1px solid #333;
}

li:hover{
    background:#2a2a2a;
}

.active{
    color:#1db954;
}